{% extends 'base.html' %}
<!--  -->
{% block head_title%} FEAM Clients {% endblock head_title%}
<!--  -->
{% block content %}
<div class="container">
	<div class="row text-center mb-4">
		<div class="col">
			<h1>Client List</h1>
			<p>These clients are currently available in the scheduling form.</p>
		</div>
	</div>
	<div class="row" id="clients">
		<div class="loader">Loading...</div>
	</div>
</div>
<script>
	const clientEl = document.getElementById('clients');

	const formatClientElement = (client) => {
		const clientStr = `
		   <div class="col-12 col-md-10 mx-auto py-3 mb-4 border rounded" id='client-${client.id}'>
			   <p>Name: ${client.name}</p>
			   <p>Client Notes: ${client.clientNotes}</p>
			   <p>Contact Number: ${client.contactNumber}</p>
		   </div>
		   `;
		return clientStr;
	};

	function loadClients(clientElement) {
		const xhr = new XMLHttpRequest();
		const method = 'GET';
		const url = '/api/clients';
		const responseType = 'json';

		xhr.responseType = responseType;
		xhr.open(method, url);
		xhr.onload = function () {
			const serverResponse = xhr.response;
			let clientListHtml = '';
			serverResponse.map((client) => {
				el = formatClientElement(client);
				clientListHtml += el;
			});
			clientElement.innerHTML = clientListHtml;
		};
		xhr.send();
	}

	loadClients(clientEl);
</script>
{% endblock content%}
